<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/style.css')}}">
    <title>PyScreenSaver</title>
</head>
<body>
    <center>
        <h1>PyScreenSaver - Cloud</h1>
        {% block owner %}
            {% if not anonymous %}
                <h3>Server owned by <a href="{{ redirect_link }}">{{ owner }}</a></h3>
                <h5 class="secondary">This is a private server.</h3>
            {% else %}
                <h3>This is an anonymous server.</h3>
            {% endif %}
        {% endblock owner %}
    </center>
</body>
</html>