body {
    background-color: #16161a;
    color: #fffffe;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    box-shadow: 0px 0px 8px 4px #7f5af0;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80vh;
    width: auto; height: auto;
    margin: 5vh 5%;
    margin-top: 10vh;
    object-fit: contain;
}
