<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/image.css')}}">
    <title>PyScreenSaver</title>

    <meta content="Image owned by {{owner}}" property="og:title" />
    <meta property="og:url" content="/images/{{imgID}}">
    <meta name="theme-color" content="{{color}}">

    <meta property="og:image:width" content="{{width}}">
    <meta property="og:image:height" content="{{height}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="/images/{{imgID}}">
</head>
<body>
    <center>
        <img src = "/images/{{imgID}}" width="{{width}}" height="{{height}}">
    </center>
</body>
</html>